# .env file for docker-compose (.env)
# Do not use this file as is in production!

# Database settings
POSTGRES_USER=liberoo_user
POSTGRES_PASSWORD=liberoo_password
POSTGRES_DB=liberoo_db
POSTGRES_HOST=db
POSTGRES_PORT=5432
